.wrapper{
    width: 600px;
    margin: auto;
}
.cell{
    min-height: 100px;
    background-color: blue;
    margin: 10px;
}
.row{
    display: flex;
}
.col-3, .col-1{
    flex-grow: 1;
}
.col-2{
    flex-grow: 2;
}