.p1{
    font-family: "lobster";
}
.p2{
    font-family: "PT Sans";
}
.p3{
    font-family: "PT Sans";
    font-weight: 700;
}
.p4{
    font-family: "PT Sans";
    font-style: italic;
}
.p5{
    font-family: "PT sans";
    font-style: italic;
    font-weight: 700;
}