main{
    width: 600px;
    margin: auto;
}
.row div{
    min-height: 150px;
    margin-bottom: 30px;
    background-color: blue;
}
.col-1{
    width: 180px;
    float: left;
    margin-right: 30px;
}
.row {
    clear: both;
}
.solid {
    background-color: blue;
}
#row-2{
    min-height: 330px;
    float: right;
    margin-right: 0;
}
.col-2 {
    width: 390px;
}
.row-left {
    float: left;
}
.row .right{
    float: right;
}