.badge{
    width: 100px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    border-radius: 5px;
    position: relative;
}
.badge .label{
    height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    padding: 1px 5px;
    border: 1px solid white;
}