.message{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 400px;
    padding: 10px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.message a{
    position: absolute;
    text-decoration: none;
    right: 15px;
    top: 15px;
}

.message p{
    width: 380px;
    color: gray;
}